@import "./node_modules/bootstrap/scss/bootstrap.scss";

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";


.container-fluid{
        background-color: red;
        height: 500px;
        width: 1500px;
}
@include media-breakpoint-up(sm){
    .container-fluid{
    background-color: yellow ;
    }
}
@include media-breakpoint-up(md){
    .container-fluid{
    background-color: green;
    }
}
@include media-breakpoint-up(lg){
    .container-fluid{
    background-color: blue;}

}
@include media-breakpoint-up(xl){
    .container-fluid{
    background-color: violet;}
}
@include media-breakpoint-up(xxl){
    .container-fluid{
    background-color: rgb(233, 114, 40);}
}