@import "./node_modules/bootstrap/scss/bootstrap.scss";

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";


.container-fluid{
    background-color: red;
}

@include media-breakpoint-between(xs,md) {
    .container-fluid{
    background-color: violet ;
    }
}
@include media-breakpoint-between(lg,xxl) {
    .container-fluid{
    background-color: green ;
    }
}